## we start with our usual importations and checking the shape

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Admin\Documents\Dec 22 Instacart Analysis'

In [3]:
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_ords_prods_combined.shape

(32434489, 11)

In [5]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

I like to print them just so I can see it visually. As expected, the common column is product_id

In [6]:
df_ords_prods_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

## now it's time to merge them

In [8]:
df_ords_and_prods = df_ords_prods_combined.merge(df_prods, on = 'product_id')

In [9]:
df_ords_and_prods.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

The dataframe in front of .merge is the one that shows up first if you read the columns left to right

Lol, user_id 1 sure does like to order soda.

In [10]:
pd.merge(df_ords_prods_combined, df_prods, on = 'product_id', indicator = True)

ValueError: Cannot use name of an existing column for indicator column

OK so it looks like the existence of the merge column in the ords prods combined dataset is giving us a problem. It should be ok to go ahead and drop this column since it refers to a function and not the data itself (also seems redundant since an inner join is going to give us 'both' for everything in there).

In [11]:
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

ok let's try this again

In [12]:
df_ords_and_prods = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [13]:
df_ords_and_prods.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [14]:
df_ords_and_prods.shape

(32404859, 16)

yay! it works now. The 0_x and 0_y columns seem weird/don't give us important info it looks like. It looks like its the index column being affected by the merge?

## before I submit this, I want to see what user 1 is up to

In [ ]:
df_ords_and_prods.loc[df_ords_and_prods['user_id']== 1]

well we can't say the man isn't consistent lol

## now time to export

In [ ]:
df_ords_and_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))