# the exercise

In [1]:
#importing our stuff
import pandas as pd
import numpy as np
import os

In [2]:
#making the path so it's easy to import
path = r'C:\Users\Admin\Documents\Dec 22 Instacart Analysis'

In [3]:
#getting our dataframe
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
#making it smaller so things don't crash
df = df_ords_prods_merged[:1000000]

In [5]:
#creating our function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [6]:
#executing it
df['price_range'] = df.apply(price_label, axis = 1)

C:\Users\Admin\AppData\Local\Temp\ipykernel_5736\3030442468.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [7]:
#getting the counts of the price range column
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [8]:
#using the loc function
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\Admin\AppData\Local\Temp\ipykernel_5736\3456160314.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [15]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [10]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

putting the first line of code returns the same "error" as the last strategy we used, but then the next two lines work and if you re reun the first line it works just fine. why is that?

In [11]:
#using the loc function on entire data set
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [18]:
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df_ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [13]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [19]:
#looking at counts for whole data set
df_ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [20]:
#moving on, finding busiest days of the week
df_ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [ ]:
#creating the for loop
result = []

for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [ ]:
#adding our list to our dataframe
df_ords_prods_merged['busiest_day'] = result

# onto the task

## pt 1

In [ ]:
#we can delete the result column we did in the exercise portion because it's not relevant any more
df_ords_prods_merged = df_ords_prods_merged.drop(columns = ['busiest_day'])

In [ ]:
#now we just use the same for loop we did before, but using Sat and Sun for the busiest and Tues and Wed for the slowest
result = []

for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    result.append("Busiest days")
  elif value == 4 or value == 3:
    result.append("Least busy days")
  else:
    result.append("Regularly busy")

In [ ]:
#and now we assign it to the dataframe
df_ords_prods_merged['busiest_days'] = result

In [ ]:
#let's see how the value count compares
df_ords_prods_merged['busiest_days'].value_counts(dropna = False)

it looks like everything adds up. nice!

## pt 2

we should be able to do this pretty much the same way we did part 1

In [ ]:
#before we decide how to divide things up, we gotta see when the busiest times actually are
df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

since we're talking about an app issue, we want to play it safe and make the busiest days category pretty big. The first significant gap between columns comes between rows 8 and 9, so we'll call the busiest days the top 8 values. another significant gap comes between the 5th and 4th smallest rows so we'll call the values below that gap the least busy hours

In [ ]:
#making the loop. gotta name the list something new of course.
outcome = []

for x in df_ords_prods_merged['order_hour_of_day']:
  if x == 10 or x == 11 or x == 14 or x == 15 or x == 13 or x == 12:
    outcome.append("Most orders")
  elif x == 3 or x == 4 or x == 2 or x == 5:
    outcome.append("Fewest orders")
  else:
    outcome.append("Average orders")

In [ ]:
#now we add this to the main dataframe
df_ords_prods_merged['busiest_period_of_day'] = outcome

In [ ]:
#lets see what's up!
df_ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

success!

In [ ]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merged.pkl'))